html{
    scroll-behavior: smooth;
}


#main, #con_main{
    background-image: url('../images/finish_background.jpg');
    background-repeat: no-repeat;
    /* Set up proportionate scaling */
    width:100%;
    height:100%;
    background-size:150% 200%;
  }