html{
    scroll-behavior: smooth;
}

body{
	margin:1%;
	padding:1%;
    font-size:150%;
    background-color: #ffef96;
}

nav {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: rgb(119, 167, 240);

}
nav li {
    display: inline;
    
}


a:visited{color:white}

nav ul{
    list-style-type: none;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

footer {
    background-color:rgb(119, 167, 240);
    color: white;
    padding: 30px;
    text-align: center;
}

